# ========================
#   GLOBAL / SISTEMA
# ========================
.DS_Store
Thumbs.db
*.log
.env
.env.local

# ========================
#   BACKEND (Spring Boot)
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class

# IDEs de Java
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
#   FRONTEND (Node/Angular/React)
# ========================
# ¡VITAL! Nunca subir las dependencias
node_modules/

# Carpetas de compilación (Production build)
dist/
build/
out/

# Caches y logs de NPM/Yarn
.npm
yarn-error.log
package-lock.json # Opcional: Algunos prefieren subirlo, otros no. Generalmente SÍ se sube.

# ========================
#   VS CODE (General)
# ========================
.vscode/
*.code-workspace
